@media screen and (max-width: 768px) {
    .input-container {
        height: 80px; /* 모바일에서 높이 조정 */
        padding: 10px;
    }

    #messageInput {
        height: 40px; /* 모바일에서 높이 조정 */
        font-size: 16px; /* 폰트 크기 조정 */
    }

    #sendButton, #toggleChatBtn {
        height: 40px; /* 모바일에서 높이 조정 */
        font-size: 16px; /* 폰트 크기 조정 */
    }

    .chat-message {
        font-size: 14px; /* 모바일에서 채팅 메시지 폰트 크기 조정 */
        padding: 5px 10px; /* 모바일에서 채팅 메시지 패딩 조정 */
    }
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7d1d1;
}

#main-container {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
}

.map-container {
    flex: 2;
    position: relative;
    background-color: #f7d1d1;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    display: none;
    flex-direction: column;
    background: url('/images/constellation6.jpg') no-repeat center center;
    background-size: cover;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0px -1px 10px rgba(0,0,0,0.5);
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    transform: scale(0.5);
    transform-origin: bottom left;
    opacity: 0;
  }

.chat-container.show {
    display: flex;
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.header {
    background-color: #343a40;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000; 
  }


.user-count {
    font-weight: bold;
}

.chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.5);
  }


#chat::-webkit-scrollbar {
    display: none;
}

.input-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
    height: 200px;
    width: 100%;
}

.chat-message-container {
    display: flex;
    margin-bottom: 10px;
}
.chat-message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
}

.chat-message.self {
    background-color: #d4f0c5; /* 연한 녹색 */
    color: #000;
    margin-left: auto; /* 오른쪽으로 정렬 */
    text-align: right; /* 텍스트 오른쪽 정렬 */
}
  
.delete-button {
    margin-left: 10px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    align-self: center;
    font-size: 0.8em; /* 휴지통 버튼 크기 줄이기 */
}

.chat-message.other {
    background-color: #f1f1f1;
    color: #333;
    align-self: flex-start;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.user-icon {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -50%);
}

#map {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-list-container {
    position: fixed;
    top: 0px;
    right: 10px;
  }
  .user-list-button {
    background-color: #FFD700;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  .user-list {
    display: none;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: absolute;
    top: 50px;
    right: 0;
    width: 200px;
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  .user-list-item {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
    color: #000; 
  }
  .user-list-item:last-child {
    border-bottom: none;
  }


/* Leaflet Popup 스타일 추가 */
.leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: center;
    border-radius: 12px;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    width: 200px; /* 고정 너비 설정 */
    height: auto; /* 높이를 자동으로 설정 */
    min-height: 50px; /* 최소 높이 설정 */
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    word-wrap: break-word; /* 단어가 넘칠 경우 줄바꿈 */
    white-space: normal; /* 줄바꿈이 가능하도록 설정 */
}

.leaflet-popup-tip-container {
    width: 20px; /* 너비를 줄임 */
    height: 20px; /* 높이를 늘림 */
    position: absolute;
    pointer-events: none;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
}

.leaflet-popup-tip {
    width: 14px; /* 너비를 줄임 */
    height: 14px; /* 높이를 줄임 */
    background: white;
    transform: rotate(45deg);
    margin: -7px auto 0; /* 높이를 줄인 것에 맞춰 마진 조정 */
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
}

.custom-popup {
    position: absolute;
    font-size: 35px;
    text-align: center;
    white-space: nowrap;
    transform: translateY(-100%);
    margin-bottom: 10px; /* 팝업과 마커 사이의 거리를 줄임 */
}

.custom-popup .leaflet-popup-content-wrapper {
    padding: 1px;
    text-align: center;
    border-radius: 12px;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    width:  320px; /* 고정 너비 설정 */
    height: auto; /* 높이를 자동으로 설정 */
    min-height: 50px; /* 최소 높이 설정 */
}

.custom-popup .leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    word-wrap: break-word; /* 단어가 넘칠 경우 줄바꿈 */
    white-space: normal; /* 줄바꿈이 가능하도록 설정 */
}

.custom-popup .leaflet-popup-tip-container {
    width: 20px; /* 너비를 줄임 */
    height: 20px; /* 높이를 늘림 */
    position: absolute;
    pointer-events: none;
    left: 50%;
    margin-left: -10px;
    overflow: hidden;
}

.custom-popup .leaflet-popup-tip {
    width: 14px; /* 너비를 줄임 */
    height: 14px; /* 높이를 줄임 */
    background: white;
    transform: rotate(45deg);
    margin: -7px auto 0; /* 높이를 줄인 것에 맞춰 마진 조정 */
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
}

.leaflet-popup-content-wrapper-cluster {
    padding: 1px;
    text-align: center;
    border-radius: 12px;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.2);
    width: 400px; /* 고정 너비 설정 */
    height: auto; /* 높이를 자동으로 설정 */
    min-height: 50px; /* 최소 높이 설정 */
}
.leaflet-popup-content-wrapper,
.custom-popup .leaflet-popup-content-wrapper,
.leaflet-popup-content-wrapper-cluster {
    width: 200px; /* 기본 너비 조정 */
    height: auto; /* 높이를 자동으로 설정 */
    padding: 10px; /* 기본 패딩 조정 */
}

.leaflet-popup-content,
.custom-popup .leaflet-popup-content,
.leaflet-popup-content-wrapper-cluster .leaflet-popup-content {
    font-size: 14px; /* 기본 폰트 크기 조정 */
    margin: 10px; /* 기본 마진 조정 */
}

.leaflet-popup-tip-container,
.custom-popup .leaflet-popup-tip-container,
.leaflet-popup-content-wrapper-cluster .leaflet-popup-tip-container {
    width: 20px; /* 기본 팁 컨테이너 너비 조정 */
    height: 20px; /* 기본 팁 컨테이너 높이 조정 */
}

.leaflet-popup-tip,
.custom-popup .leaflet-popup-tip,
.leaflet-popup-content-wrapper-cluster .leaflet-popup-tip {
    width: 14px; /* 기본 팁 너비 조정 */
    height: 14px; /* 기본 팁 높이 조정 */
}